---
const SERVICES = [
  {
    icon: "/visualid.svg",
    title: "Visual Identity",
    summary:
      "Poster design service, which branches out into many departments. At Fold, we offer all branches of posters, from advertising posters to social media to movie posters and many more",
    description:
      "Poster design service, which branches out into many departments. At Fold, we offer all branches of posters, from advertising posters to social media to movie posters and many more",
  },
  {
    icon: "/socialmedia.svg",
    title: "Social Media Management",
    summary:
      "The visual identity design service is one of the most important services. Why is visual identity so important? Visual identity is the face of your business. Rather, you must have a professional identity that expresses your brand and the accuracy of your work.",
    description:
      "The visual identity design service is one of the most important services. Why is visual identity so important? Visual identity is the face of your business. Rather, you must have a professional identity that expresses your brand and the accuracy of your work.",
  },
  {
    icon: "/posters.svg",
    title: "Posters",
    summary:
      "Social media service is a service provided to companies, restaurants, and everyone who needs me to make their project successful in a professional manner. Details of the service: We hold your accounts and start managing the accounts, from responding to customers to daily designs for Tik Tok and Instagram ads. We try to create ideas that distinguish you from others in terms of creativity, and we try to increase your sales.",
    description:
      "Social media service is a service provided to companies, restaurants, and everyone who needs me to make their project successful in a professional manner. Details of the service: We hold your accounts and start managing the accounts, from responding to customers to daily designs for Tik Tok and Instagram ads. We try to create ideas that distinguish you from others in terms of creativity, and we try to increase your sales.",
  },
];
---

<section id="services">
  <div class="container">
    <h2>Our Services</h2>
    <p>
      We offer many design and administrative services, and we aspire to be part
      of your business
    </p>
    <ul>
      {
        SERVICES.map(({ icon, title, summary, description }, idx) => (
          <li data-service={idx}>
            <button class="close">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-6 h-6"
              >
                <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
              </svg>
            </button>
            <div>
              <img src={icon} alt={title} />
              <h3>{title}</h3>
              <p class="summary">{summary}</p>
              <p class="description">{description}</p>
            </div>
            <button class="more" data-read={idx}>
              read more
            </button>
            <button class="less">contact us</button>
          </li>
        ))
      }
    </ul>
  </div>
  <img id="e" src="/e.svg" alt="e" />
  <img id="s" src="/s.svg" alt="s" />
</section>

<style>
  section {
    @apply mb-80 pb-32 lg:pb-64 pt-32 text-center relative;
  }

  .container {
    @apply flex flex-col items-center;
  }

  h2 {
    @apply text-interdimensional-blue;
  }

  section > div > p {
    @apply max-w-4xl text-gray-600 mt-8;
  }

  ul {
    @apply flex flex-col items-center lg:flex-row w-full justify-between gap-4 mt-32;
  }

  li {
    background-image: radial-gradient(
      109.35% 146.97% at 73.39% 121.5%,
      #6868fa 0%,
      #4524cb 99%
    );
    @apply flex flex-col rounded-lg max-w-sm transition-all relative;
  }

  li.active {
    @apply fixed inset-0 z-20 m-auto overflow-y-auto min-h-[80vh] max-h-[90vh] max-w-full md:max-w-xl lg:max-w-4xl;
  }

  li > div {
    @apply flex flex-col flex-1 items-center gap-4 px-4 py-12;
  }

  li img {
    @apply w-28;
  }

  li.active img {
    @apply w-full max-w-[16rem];
  }

  li h3 {
    @apply text-white text-md;
  }

  li p {
    @apply text-white/80;
  }

  li button.close {
    @apply sticky top-4 left-4 text-lg p-2 rounded-full text-white hidden w-fit bg-interdimensional-blue;
  }

  li button.close:hover {
    @apply bg-white/20;
  }

  li.active button.close {
    @apply inline-block;
  }

  li button.less,
  li button.more {
    background-color: #1b1464;
    background-image: radial-gradient(
      428.36% 90.94% at -20.57% -129.22%,
      #1b1464 0%,
      #4524cb 99%
    );
    @apply w-full text-white py-4 rounded-lg sticky bottom-0 left-0 right-0;
  }

  li.active button.more,
  li p.description,
  li.active p.summary,
  li button.less {
    @apply hidden;
  }

  li.active button.less,
  li.active p.description,
  li p.summary,
  li button.more {
    @apply block;
  }

  #e {
    @apply absolute z-10 -bottom-4 right-0 w-8;
  }

  #s {
    @apply absolute z-10 -bottom-80 left-0 right-0 w-full;
  }
</style>

<script>
  // @ts-ignore
  import lenis from "../scripts/lenis";

  const more = document.querySelectorAll(".more");
  const less = document.querySelectorAll(".less");
  const services = document.querySelectorAll("#services li");
  const overlay = document.getElementById("overlay");
  const close = document.querySelectorAll("button.close");

  const closeService = () => {
    overlay?.classList.remove("active");
    lenis.start();

    services.forEach((s) => {
      s.classList.remove("active");
      if (s instanceof HTMLElement) {
        delete s.dataset.lenisPrevent;
      }
    });
  };

  overlay?.addEventListener("click", (e) => {
    e.stopPropagation();
    closeService();
  });

  close.forEach((c) => {
    c.addEventListener("click", closeService);
  });

  less.forEach((l) => {
    l.addEventListener("click", () => {
      closeService();
      location.assign("#contact");
    });
  });

  more.forEach((m) => {
    if (m instanceof HTMLElement) {
      m.addEventListener("click", () => {
        overlay?.classList.add("active");
        lenis.stop();
        const read = m.dataset.read;
        services.forEach((service) => {
          if (service instanceof HTMLElement) {
            if (service.dataset.service === read) {
              service.classList.add("active");
              service.dataset.lenisPrevent = "";
            } else {
              service.classList.remove("active");
              delete service.dataset.lenisPrevent;
            }
          }
        });
      });
    }
  });
</script>
